<app-menu></app-menu>
<div class="content pd-16">

  <mat-card>
    <mat-card-title>Info</mat-card-title>
    <mat-card-content>
      Here, you can view and create new products that you wish to sell.
      This section of the app allows you to browse through your current product offerings and add new items to your sales catalog.
      It's a useful feature for managing and expanding your product portfolio,
      ensuring that your sales team has access to the latest products available for promotion and sale.
    </mat-card-content>
  </mat-card>
<div class="product-container">
  <mat-card class="product-card">
    <img src="assets/img/cloudyncpro.png" alt="CloudSync Pro">
    <h3>CloudSync Pro – Cloud Storage Solution</h3>
    <p>An advanced cloud storage platform offering secure, scalable, and user-friendly storage solutions...</p>
  </mat-card>

  <mat-card class="product-card">
    <img src="assets/img/codemaster.png" alt="CodeMaster AI">
    <h3>CodeMaster AI – Intelligent Code Editor</h3>
    <p>An AI-powered code editor for software developers, providing real-time code analysis, error detection...</p>
  </mat-card>

  <mat-card class="product-card">
    <img src="assets/img/virtualvent360.png" alt="VirtualEvent 360">
    <h3>VirtualEvent 360 – Platform for Virtual Events</h3>
    <p>A comprehensive solution for hosting virtual conferences, workshops, and events...</p>
  </mat-card>
</div>
<h2>Products</h2>
<mat-card *ngFor="let product of allProducts" class="pd-16 m16 card" [routerLink]="['/sales/' + product['customIdName']]">
  <mat-card-title matLine>{{product.name}}</mat-card-title>
  <mat-card-content>{{product.description}}</mat-card-content>
  <mat-card-footer> $ {{ product.price }}/month </mat-card-footer>
</mat-card>
<button (click)="openDialog()" class="add-customer-btn" mat-flat-button color="primary" matTooltip="Add Prosuct">
  <mat-icon>add</mat-icon> Add Product
</button>
</div>
