<app-menu></app-menu>
<div class="product-container">
  <mat-card class="product-card">
    <img src="assets/img/cloudyncpro.png" alt="CloudSync Pro">
    <h3>CloudSync Pro – Cloud Storage Solution</h3>
    <p>An advanced cloud storage platform offering secure, scalable, and user-friendly storage solutions...</p>
  </mat-card>

  <mat-card class="product-card">
    <img src="assets/img/codemaster.png" alt="CodeMaster AI">
    <h3>CodeMaster AI – Intelligent Code Editor</h3>
    <p>An AI-powered code editor for software developers, providing real-time code analysis, error detection...</p>
  </mat-card>

  <mat-card class="product-card">
    <img src="assets/img/virtualvent360.png" alt="VirtualEvent 360">
    <h3>VirtualEvent 360 – Platform for Virtual Events</h3>
    <p>A comprehensive solution for hosting virtual conferences, workshops, and events...</p>
  </mat-card>
</div>

