mat-card{
  border: none;
  padding: 16px;
  border-radius: 5px;
  background: #f0ffff;
  box-shadow:  -7px -7px 5px #ddebeb,
  7px 7px 5px #ffffff;
}
.product-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.product-card {
  width: 30%;
  padding: 15px;
  border-radius: 5px;
  background: #f0ffff;
  box-shadow:  -7px -7px 5px #ddebeb,
  7px 7px 5px #ffffff;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background: #f0ffff;
  box-shadow:  -7px -7px 5px #ddebeb,
  7px 7px 5px #ffffff;
}

.product-card h3 {
  color: #333;
  margin-top: 15px;
}

.product-card p {
  color: #666;
  font-size: 14px;
}
.card{
  &:hover{
    background-color: rgb(240, 242, 255);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    cursor: pointer;
  }
}
.add-customer-btn{
  margin: 12px;

  background: linear-gradient(45deg, #2196F3 0%, #21CBF3 100%);
  box-shadow:  -3px -3px 5px #ddebeb,
  3px 3px 5px #ffffff;
}

