<app-menu></app-menu>
<div class="content pd-16">
  <mat-card class="pd-16 m16">
    <mat-card-title>Leads</mat-card-title>
    <mat-card-content>
      On the 'Leads' page of the CRM app, users can create new leads and assign them to specific users.
      The status of each lead is visually represented by three colors. If a lead is colorless,
      it means it is new and yet to be assigned. When a lead is marked in green, it indicates that someone is
      already working on it. A calendar or appointment icon next to a lead signifies that an appointment needs to be scheduled,
      and this task is then allocated to the assigned user. If a lead is marked in red, it can be deleted,
      as this color indicates that the lead is unsuitable or not viable for further pursuit.
      This color-coding system provides a quick and efficient way to monitor the status and progression of leads in the app.
    </mat-card-content>
  </mat-card>

<h2>Leads</h2>
<button (click)="open()" class="add-lead-btn" mat-flat-button color="primary" matTooltip="Add Lead">
  <mat-icon>add</mat-icon>
  Add Lead
</button>
<div class="mat-elevation m16" >
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="createdAt">
      <th class="none"  mat-header-cell *matHeaderCellDef> Created At </th>
      <td class="none"  mat-cell *matCellDef="let element"> {{ element.createdAt.toDate() | date:'shortDate' }}</td>
    </ng-container>

    <ng-container matColumnDef="assignedTo">
      <th class="none"  mat-header-cell *matHeaderCellDef> Assigned To </th>
      <td class="none"  mat-cell *matCellDef="let element"> {{element["assignedTo"]}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name </th>
      <td mat-cell *matCellDef="let element"> {{element["firstName"]}} {{element["lastName"]}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
    <th class="none"  mat-header-cell *matHeaderCellDef> Email </th>
    <td class="none"  mat-cell *matCellDef="let element"> {{element["email"]}} </td>
  </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th class="none"  mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td class="none"  mat-cell *matCellDef="let element"> {{element["phoneNumber"]}} </td>
    </ng-container>

    <ng-container matColumnDef="companyName">
      <th class="none-600" mat-header-cell *matHeaderCellDef> Company Name </th>
      <td class="none-600" mat-cell *matCellDef="let element"> {{element["companyName"]}} </td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> {{element.actions}}
        <button class="mr-16" mat-mini-fab color="accent" [routerLink]="['/management/' + [element.id]]" matTooltip="Edit Lead"><mat-icon>edit</mat-icon></button>
        <button class="mr-16" mat-mini-fab color="accent" [routerLink]="['/management/' + element.id]" *ngIf="!element.appointmentDate" matTooltip="Make an Appointment">
          <mat-icon>book_online</mat-icon>
        </button>

        <button mat-mini-fab color="warn" (click)="deleteLead(element.id)" *ngIf="element.status === 'unqualified'"  matTooltip="Delete Lead" ><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="getRowClass(row)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
<mat-card class="info pd-16 m16">
  <h2>History</h2>
<div class="status-history">
  <div class="status-item new" matTooltip=" When a lead is labeled as New, indicated by a grey color, it means that the lead has just been created or entered into the system. This status is typically assigned to leads that are freshly acquired and have not yet been processed or contacted.">New <mat-icon>help</mat-icon></div>
  <div class="status-item status-working" matTooltip="A lead marked as Working, shown in light green, signifies that it is currently being actively handled or processed. This status is used for leads that are in the midst of engagement, follow-up, or negotiation, indicating ongoing interaction or assessment.">Working <mat-icon>help</mat-icon></div>
  <div class="status-item status-closed" matTooltip="The Closed status, represented by light yellow, is assigned to leads that have completed the sales cycle. These leads might have resulted in a successful sale, a lost opportunity, or have been marked as no longer viable. Leads in this category are often archived or removed from active follow-up lists. Additionally, leads with a Closed status are eligible for deletion from the system.">Closed <mat-icon>help</mat-icon></div>
  <div class="status-item status-unqualified" matTooltip="Leads marked as Unqualified, and highlighted in light coral, are those that have been evaluated and deemed not suitable or not ready for the sales process. This status is typically used for leads that do not meet certain criteria or qualification standards, indicating that they should not be pursued further at the current time.">Unqualified <mat-icon>help</mat-icon></div>
</div>
</mat-card>

</div>
