mat-card{
  padding: 16px;
  border-radius: 5px;
  background: #f0ffff;
  box-shadow:  -7px -7px 5px #ddebeb,
  7px 7px 5px #ffffff;
  @media (max-width: 500px) {
    font-size: 0.9em;
    padding: 2px;
    margin: 6px;
  }
}
.product-accordion {
  margin: 20px;
  @media (max-width: 500px) {
    margin: 0;
  }
}
mat-accordion{
  margin: 12px!important;
}

.product-accordion .mat-expansion-panel-header {
  background: #f0ffff;
  margin: 16px;
  padding: 16px;
  border-radius: 5px;
  box-shadow:  -7px -7px 5px #ddebeb,
  7px 7px 5px #ffffff;
  @media (max-width: 500px) {
    font-size: 0.9em;
    padding: 2px;
    margin: 6px;
  }
}

.panel-content {
  margin: 15px;
  font-size: 14px;
  line-height: 1.6;
  padding: 16px;
  border-radius: 5px;
  background: #f0ffff;
  box-shadow:  -7px -7px 5px #ddebeb,
  7px 7px 5px #ffffff;
  @media (max-width: 500px) {
    font-size: 0.9em;
    padding: 2px;
    margin: 6px;
  }
}

.mat-panel-title {
  font-weight: bold;
  color: #333;
}

