mat-card{
  position: relative;
  margin: 16px;
  padding: 16px;
  border-radius: 5px;
  background: #f0ffff;
  box-shadow:  -7px -7px 5px #ddebeb,
  7px 7px 5px #ffffff;
  overflow: hidden;
  mat-card-content{
    padding: 12px 24px;
    max-width: 80%;
  }
  .edit-btn{
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: #ffffff;
    background: linear-gradient(45deg, #2196F3 0%, #21CBF3 100%);
    box-shadow:  -3px -3px 5px #ddebeb,
    3px 3px 5px #ffffff;
  }
}
.back-btn{
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: linear-gradient(45deg, #2196F3 0%, #21CBF3 100%);
  box-shadow:  -3px -3px 5px #ddebeb,
  3px 3px 5px #ffffff;
}
.info{
  max-width: 80%;
}
@media (max-width: 650px) {
  mat-form-field{
    width: 100%;
  }
}
