mat-card{
  position: relative;
  padding: 24px;
  margin: 16px;
  overflow: hidden;
  mat-card-content{
    padding: 12px 24px;
    max-width: 80%;
  }
  .edit-btn{
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}
.back-btn{
  position: absolute;
  right: 30px;
  bottom: 30px;
}
