<app-menu></app-menu>
<div class="content">

  <mat-card>
    <mat-card-title>Users</mat-card-title>
    <mat-card-content>
      On the 'Users' page of the CRM app, users can be created and managed.
      During the creation or editing process, a password is assigned to each user.
      With this assigned password and their email address, users can subsequently log in to the app.
      In the detailed view of a user's profile, there is an overview of their pending tasks.
      This includes whether they have any outstanding 'To-dos' or appointments,
      or if there are any they need to schedule. This feature helps in monitoring and managing user
      activities and responsibilities within the app.
    </mat-card-content>
  </mat-card>
<mat-card>
  <table class="user-table">
    <tr class="pd-16">
      <th>Name</th>
      <th>E-Mail</th>
      <th>City</th>
    </tr>
    <tr class="pd-16" *ngFor="let customer of allCustomers" [routerLink]="['/customer/' + customer['customIdName']]">
      <td>{{customer["lastName"]}} {{ customer["firstName"] }}</td>
      <td>{{ customer["email"]}}</td>
      <td>{{ customer["city"] }}</td>
    </tr>



  </table>
</mat-card>
<button (click)="openDialog()" class="add-customer-btn" mat-fab color="primary" matTooltip="Add User">
  <mat-icon>add</mat-icon>
</button>
</div>
