.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-text{
    font-size: 50px;
    font-weight: 700;
  }
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .login-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f0ffff;
    box-shadow:  -7px -7px 5px #ddebeb,
    7px 7px 5px #ffffff;

    .btn-login {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    .border{
      width: 100%;
      border-radius: 5px;

    }

  }
  button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    background: linear-gradient(45deg, #2196F3 0%, #21CBF3 100%);
    border-radius: 5px;
    box-shadow:  -3px -3px 5px #ddebeb,
    3px 3px 5px #ffffff;
  }
  .btn-guest{
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #949494;
    background: linear-gradient(45deg, #d7f321 0%, #ffffff 100%);
    border-radius: 5px;
    box-shadow:  -3px -3px 5px #ddebeb,
    3px 3px 5px #ffffff;
  }
}
