<app-menu></app-menu>

<button (click)="openDialog()" class="add-customer-btn" mat-fab color="primary" matTooltip="Add User">
  <mat-icon>add</mat-icon>
</button>


<div class="content">
  <div class="list-item" cdkDropListGroup>
    <app-task-list title="To do" [tasks]="todo" listId="todoList"></app-task-list>
    <app-task-list title="In Progress" [tasks]="inProgress" listId="inProgressList"></app-task-list>
    <app-task-list title="Awaiting Feedback" [tasks]="awaitingFeedback" listId="awaitingFeedbackList"></app-task-list>
    <app-task-list title="Done" [tasks]="done" listId="doneList"></app-task-list>
  </div>
</div>

