.dialog-container {
  width: 500px;
  @media (max-width: 800px){
    width: 400px;
  }
  @media (max-width: 600px){
    width: 300px;
  }
  @media (max-width: 400px){
    width: 250px;
  }
  .dialog {
    width: 100%;
    color: #949494;
    border-radius: 5px;
    background: #f0ffff;

    h1 {
      margin-bottom: 0;
      color: #949494;
    }

    .action-buttons {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        margin-left: 10px;
      }
    }
  }
}


