.dialog{
  width: 500px;
  color: #949494;
  border-radius: 5px;
  background: #f0ffff;
  box-shadow: inset -7px -7px 5px #ddebeb, inset 7px 7px 5px #ffffff;
  h1{
    margin-bottom: 0;
    color: #949494;
  }
}
