<app-menu></app-menu>
<mat-card class="content">
  <mat-card>
    <mat-card-title>Send Email</mat-card-title>
    <mat-card-content>
      In the "Email Templates" area of the app, users have the convenience of crafting
      customizable email templates featuring the [name] placeholder. This smart functionality enables them to
      personalize each email effortlessly, making it appear tailor-made for each recipient. Once created,
      these templates can be saved and reused multiple times, streamlining email communication and enhancing the
      overall efficiency of correspondence. This feature is particularly useful for frequent email interactions,
      ensuring a personal touch in every message sent.
    </mat-card-content>
  </mat-card>
<mat-tab-group>

  <mat-tab label="Mailing Lists">
    <!-- Code for segmenting mailing lists -->
    <mat-card class="pd-16">
      <mat-card-title>Mailing List</mat-card-title>
      <br>
      <mat-card-content>
        <div>
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Assigned To</mat-label>
            <mat-select [(ngModel)]="selectedLead">
              <mat-option *ngFor="let lead of allLeads" [value]="lead.firstName + ' ' + lead.lastName">
                {{ lead.firstName }} {{ lead.lastName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="width-100">
            <mat-label>Assigned To</mat-label>
            <mat-select [(ngModel)]="selectedTemplateName" (selectionChange)="onTemplateSelect()">
              <mat-option *ngFor="let mailTemplate of allMailTemplates" [value]="mailTemplate.templateName">
                {{ mailTemplate.templateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
      <div *ngIf="selectedTemplateContent">
        <h3>Selected Template Content:</h3>

        <mat-card>
          <mat-card-content>
            <!-- Anzeige des Vorlageninhalts -->
            <p>{{ selectedTemplateContent }}</p>

            <!-- Anzeige der E-Mail-Adresse des Empfängers -->
            <p><strong>Recipient's Email:</strong> {{ recipientEmail }}</p>
          </mat-card-content>
        </mat-card>

        <!-- Schaltflächen -->
        <div class="action-buttons">
          <button mat-button (click)="resetTemplate()">Reset</button>
          <button mat-raised-button color="primary" (click)="sendEmail()">Send Email</button>
        </div>
      </div>

    </mat-card>
  </mat-tab>

  <mat-tab label="Email Templates">
    <!-- Code for creating and managing email templates -->
    <mat-card class="pd-16">
      <mat-card-title>Create New Email Template</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Template Name</mat-label>
          <input [(ngModel)]="mailTemplate.templateName" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Template Content</mat-label>
          <textarea [(ngModel)]="mailTemplate.templateContent" matInput rows="6"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="save()" color="primary">Save Template</button>
      </mat-card-content>
    </mat-card>



  </mat-tab>
</mat-tab-group>

</mat-card>
