mat-toolbar{
  background: linear-gradient(45deg, #2196F3 0%, #21CBF3 100%);
  color: #ffffff;
  box-shadow:  -7px -7px 5px #ddebeb,
  7px 7px 5px #ffffff;
  //box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  .mat-toolbar-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.sidenav{
  width: 250px;
  background-color: #fff;
  color: #949494;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 20px;
  //border-right: 1px solid #ccc;
  height: 100vh;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);

  .logo{
    width: 100%;
    height: 40px;
    font-size: 38px;
    text-align: center;
  }
  ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    overflow: hidden;
    li{
      width: 100%;
      text-align: center;
      padding-right: 0;
      text-shadow: none!important;
      box-shadow: none!important;
      a {
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        display: flex;
        align-items: center;
        color: #949494;
        gap: 10px;
        width: 100%;
        margin: 10px 0  10px 10px;
        padding: 10px 30px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        &:hover{
          background-color: rgb(240, 242, 255);
        }
      }

    }
  }
  &.close{
    width: 0;
    padding: 0;
    overflow: hidden;
  }
}
.mat-drawer-side{
  border-right: 0;
}
