<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-icon class="logo">data_exploration</mat-icon>
    <ul>
      <li><a class="link-style" routerLink="/dashboard"><mat-icon>bar_chart_4_bars</mat-icon>Dashboard</a></li>
      <li><a class="link-style" routerLink="/customer"><mat-icon>person</mat-icon>Users</a> </li>
      <li><a class="link-style" routerLink="/management"><mat-icon>manage_search</mat-icon>Management</a></li>
      <li><a class="link-style" routerLink="/history"><mat-icon>history_edu</mat-icon>History</a></li>
      <li><a class="link-style" routerLink="/sales"><mat-icon>real_estate_agent</mat-icon>Sales</a></li>
      <li><a class="link-style" routerLink="/task"><mat-icon>task</mat-icon>Task Management</a></li>
      <li><a class="link-style" routerLink="/marketing"><mat-icon>online_prediction</mat-icon>Marketing</a></li>
      <li><a class="link-style" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</a></li>

    </ul>

  </mat-drawer>

  <mat-toolbar color="primary">
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>


</mat-drawer-container>
<router-outlet></router-outlet>
