mat-card{
  padding: 16px;
  border-radius: 5px;
  background: #f0ffff;
  box-shadow:  -7px -7px 5px #ddebeb,
  7px 7px 5px #ffffff;
}
.content {
  padding: 20px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header-content{
    width: 100%;
    margin-bottom: 20px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    mat-card{
      width: 200px;
      height: 110px;
      mat-card-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
      }
    }
  }
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    mat-icon{
      cursor: pointer;
    }
  }
  .chart-board {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    canvas{
      padding: 12px;
      border-radius: 5px;
      background: #f0ffff;
      box-shadow: inset -2px -2px 5px #ddebeb,
      inset 2px 2px 5px #ffffff;
    }
    .sales {
      padding: 20px;
      width: 70%;
      height: 450px;
    }
    .tasks{
      padding: 20px;
      height: 450px;
    }
  }

  .lead-board {
    margin: 20px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    mat-card{
      margin-bottom: 10px;
    }
    .new-lead{
      width: 45%;
    }
    .working-lead{
      width: 45%;
    }
  }


  ul li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    //border: 1px solid #ccc;
    background: #f0ffff;
    box-shadow:  inset -3px -3px 5px #ddebeb,
    inset 3px 3px 5px #ffffff;
    border-radius: 5px;
    cursor: pointer;
  }
}
.icon{
  color: #949494;
  background: #f0ffff;
  box-shadow:  inset -3px -3px 5px #ddebeb,
  inset 3px 3px 5px #ffffff;
  border-radius: 5px;
}

.bg-primary {
  background-color: rgba(63, 81, 181, 0.5);
  color: #fff;
}
.bg-warning {
  background-color: rgba(255, 152, 0, 0.5);
  color: #fff;
}
.bg-danger {
  background-color: rgba(244, 67, 54, 0.5);
  color: #fff;
}
.bg-success {
  background-color: rgba(76, 175, 80, 0.5);
  color: #fff;
}


